# PostgreSQL Database URL
# Example: postgres://username:password@hostname:5432/databasename
DATABASE_URL=postgresql://postgres:Unity@878898@db.nmrdqhvytpczbsqlljum.supabase.co:5432/postgres

# Cloudinary Configuration
# Get these from your Cloudinary Dashboard
CLOUDINARY_CLOUD_NAME=dv7jo9sng
CLOUDINARY_API_KEY=975612122491522
CLOUDINARY_API_SECRET=9efhUiVlScHEhfxvd6Ydf9SIEF8
